<div class="panel-container">
    <h1 id="title">Turnos</h1>

    <div id="appointment-cards-container">

        <app-appointment-card
            *ngFor="let appointment of this.appointments"
            [appointment]="appointment" 
            [userProfile]="this.userProfile"
            (actionRequest)="this.onActionRequested($event)">
        </app-appointment-card>

    </div>

</div>

<div *ngIf="this.revealCancelationMessageInput" class="comment-full-screen-container">
    <div class="input-container">
        <h2 class="input-title" *ngIf="this.selectedAppointment.status == 1 || this.selectedAppointment.status == 5">Indique los motivos de su cancelación</h2>
        <h2 class="input-title" *ngIf="this.selectedAppointment.status == 2">Indique los motivos de su rechazo</h2>
        <h2 class="input-title" *ngIf="this.selectedAppointment.status == 4">Resuma su diagnóstico o comentarios afines</h2>

        <div class="form-group px-5">
            <textarea rows="7" class="form-control" (change)="this.setComment($event)"></textarea>
        </div>
        <div class="btn-container">
            <button class="btn btn-lg btn-block smt-btn my-3" (click)="this.cancelation(this.userProfile.role)" [disabled]="this.comment.length < 6"> Cancelar Turno </button>
        </div>
    </div>
</div>

<div *ngIf="this.revealCalificationInput" class="comment-full-screen-container">
    <div class="input-container">
        <h2 class="input-title">¿Cómo calificaría la atención recibida?</h2>

        <div class="d-flex justify-content-center align-items-center my-4">
            <button 
            [ngClass]="{'calification-selected': this.selectedAppointment.calification==5}" 
            (click)="this.setCalification(5)" 
            class="btn calification-btn">
                Excelente <br>
                <i *ngFor="let star of [1,2,3,4,5]" class="bi bi-star-fill"></i>                
            </button>
            <button 
            [ngClass]="{'calification-selected': this.selectedAppointment.calification==4}" 
            (click)="this.setCalification(4)" 
            class="btn calification-btn">
                Buena <br>
                <i *ngFor="let star of [1,2,3,4]" class="bi bi-star-fill"></i>
            </button>
            <button 
            [ngClass]="{'calification-selected': this.selectedAppointment.calification==3}" 
            (click)="this.setCalification(3)" 
            class="btn calification-btn">
                Regular <br>
                <i *ngFor="let star of [1,2,3]" class="bi bi-star-fill"></i>
            </button>
            <button 
            [ngClass]="{'calification-selected': this.selectedAppointment.calification==2}" 
            (click)="this.setCalification(2)" 
            class="btn calification-btn">
                Mala <br>
                <i *ngFor="let star of [1,2]" class="bi bi-star-fill"></i>
            </button>
            <button 
            [ngClass]="{'calification-selected': this.selectedAppointment.calification==1}" 
            (click)="this.setCalification(1)" 
            class="btn calification-btn">
                Muy mala <br>
                <i class="bi bi-star-fill"></i>
            </button>
        </div>

        <h2 class="input-title">Deje una breve reseña sobre la atención recibida</h2>

        <div class="form-group px-5">
            <textarea rows="7" class="form-control" (change)="this.setComment($event)"></textarea>
        </div>

        <div class="btn-container">
            <button class="btn btn-lg btn-block smt-btn my-3" (click)="this.calificate()" [disabled]="this.comment.length < 6 || this.selectedAppointment.calification == 0"> Reseñar </button>
        </div>
        
    </div>
</div>

<div *ngIf="this.revealSpecialistComment" class="comment-full-screen-container">
    <div class="input-container">
        <h2 class="input-title" *ngIf="this.userProfile.role == 0">Comentarios del especialista</h2>
        <h2 class="input-title" *ngIf="this.userProfile.role == 1">Reseña del paciente</h2>
        <div *ngIf="this.userProfile.role == 0" class="form-group px-5">
            <h4 style="color: white"> " {{this.selectedAppointment.specialistCommentary}} "</h4>
        </div>
        <div style="color: white" *ngIf="this.userProfile.role == 1" class="form-group px-5">
            <h3 *ngIf="this.selectedAppointment.calification != 0">Calificación: <i *ngFor="let calification of this.calificationArray" class="bi bi-star-fill"></i></h3>
            <h4> " {{this.selectedAppointment.patientComentary}} "</h4>
        </div>
        <div class="btn-container">
            <button class="btn btn-lg btn-block smt-btn my-3" (click)="this.revealSpecialistComment = false"> Cerrar </button>
        </div>
    </div>
</div>