<div class="panel-container">
    <h1 id="title">Turnos</h1>

    <div id="appointment-cards-container">

        <app-appointment-card [appointment]="this.someAppointment" [userProfile]="this.userProfile"></app-appointment-card>

        <!--<div class="card-container">
            <p class="alert alert-danger appointment-card-header">Cancelado</p>
            <div class="alert alert-danger">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>
                
                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>

            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-success appointment-card-header">Aceptado</p>
            <div class="alert alert-success">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>
                
                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>

            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-info appointment-card-header">Solicitado</p>
            <div class="alert alert-info">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>

                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>
                
            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-info appointment-card-header">Solicitado</p>
            <div class="alert alert-info">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>

                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>
                
            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-info appointment-card-header">Solicitado</p>
            <div class="alert alert-info">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>

                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>
                
            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-info appointment-card-header">Solicitado</p>
            <div class="alert alert-info">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>

                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>
                
            </div>
        </div>

        <div class="card-container">
            <p class="alert alert-info appointment-card-header">Solicitado</p>
            <div class="alert alert-info">
                <h4>Dr. Beraldi</h4>
                <h5>Cardiología</h5>
                
                <ul>
                    <li>
                        12/02/2023
                    </li>
                    <li>
                        15:30hs
                    </li>
                </ul>

                <div class="appointment-options"> 
                    <button class="appointment-option">
                        <i class="bi bi-chat"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-trash"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-card-text"></i>
                    </button>
                    <button class="appointment-option">
                        <i class="bi bi-star-half"></i>
                    </button>
                </div>
                
            </div>
        </div>-->
        

    </div>

</div>