.panel-container {

    width: 95vw;
    border: var(--dark) solid 1px;
    margin-top: 1rem;
    border-radius: 1rem;
    margin: 2rem auto 2rem auto;
    
}

#title_and_filter {

    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;

}

#title {
    display: inline-block;
}

#filter-input-container {
   display: inline-block;
   position: absolute;
   right: 2rem;
   top: 50%;
   transform: translateY(-50%);
   font-size: large;
   font-weight: bold;
}

#filter-input {
    border-radius: .5rem;
}

#appointment-cards-container {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-container {
    width: 30% !important ;
}

h4 {
    font-weight: bolder;
}

.appointment-card-header {
    margin: 0;
    padding: .2rem;
    max-width: 33%;
    border-radius: 0; 
}

.appointment-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.appointment-option {
    border-radius: 5px;
}

app-appointment-card {
    width: 30% !important;
}

.comment-full-screen-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 171, 171, 0.4);
}

.input-container {
    width: 50vw;
    border-radius: 25px;
    background-color: var(--dark)
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.smt-btn {
    background-color: rgb(189, 83, 83);
    width: 60%;
    color: white;
}

@media(max-width: 780px) {
    .input-container {
        width: 80vw;
    }
}

.input-title {
    color:white;
    margin: 1rem 0rem 1rem 1rem;
}

.calification-btn {
    background-color: var(--light);
    color: white;
    margin-right: 1rem;
}

.calification-selected {
    border: 1px solid white;
    padding: 1rem;
}