<div class="panel-container">
    <h1 id="title">Solicitar Turno</h1>

    <div id="mms-container">

        <div [mms]="this.mms" class="mss">
            <div class="mss-content">
                <app-create-appointment-first-step (specialityAndSpecialist)="this.receiveSpecialityAndSpecialist($event)"></app-create-appointment-first-step>
            </div>
        </div>
    
        <div [mms]="this.mms" class="mss">
            <div class="mss-content">
                <app-appointment-offer 
                *ngIf="this.mms.elementOnScreen == 1"
                [disponibilities]="this.specialistDailyDisponibilities" 
                [appointments]="this.specialistAppointments"
                (selectedDate)="this.receiveSelectedDate($event)"
                ></app-appointment-offer>
            </div>
        </div>
    
        <div [mms]="this.mms" class="mss">
            <div class="mss-content" >
                <app-appointment-confirmation 
                [appointment]="this.newAppointment"
                [specialistFullName]="this.specialistFullName"
                (onCancelation)="this.receiveCancelation()"
                ></app-appointment-confirmation>
            </div>
        </div>

    </div>

</div>