<div>
    <div class="row full-page">

        <div class="col-12 col-md-6 form-container">

            <app-login-form  
            (registerRequest)="this.registerRequested()"
            *ngIf="!this.showRegisterForm; else registerForm"
            ></app-login-form>

            <ng-template #registerForm> 

                <div class="register-form"> 
                   <app-patient-register *ngIf="this.patientForm" (onExit)="exitRegisterForm()"></app-patient-register>
                   <app-specialist-register *ngIf="!this.patientForm" (onExit)="exitRegisterForm()"></app-specialist-register>
                </div>

                <div style="height: 6rem; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 1rem;">
                    <app-badge style="width: 25%; height: 5rem;margin-bottom: 1rem;" [img_url]="'assets/nuevo-paciente.png'" (click)="this.patientForm=true;"></app-badge>
                    <app-badge style="width: 25%; height: 5rem;" [img_url]="'assets/nuevo-especialista.png'" (click)="this.patientForm=false;"></app-badge>
                </div>

            </ng-template>
            
        </div>

        <div class="col-6 d-md-block" id="image-board" appRandomBgImage></div>

    </div>
</div>