.full-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#image-board {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    display: none;
}

.row {
    --bs-gutter-x: 0rem !important;
}

.form-container {
    margin-top: 0vh;
}

@media (min-width: 768px) {

    .form-container {
        margin: auto 0;
    }

}