.full-page {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

#image-board {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    display: none;
}

.row {
    --bs-gutter-x: 0rem !important;
}

.form-container {
    margin-top: 0vh;
    overflow-y: scroll;
}

.register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.form-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.form-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (min-width: 1200px) {

    .form-container {
        margin: auto 0;
    }

    .register-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 10rem;
    }


}