.login-container {
    display: flex;
    align-items: center;
    background-color:white;
    position: relative;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .submit-customization {
    background-color: var(--dark) !important;
    border: none !important;
  }

  .submit-customization:active {
    background-color: var(--dark) ;
    transform: scale(.95);
  }
  
  .register-btn-customization {
    background-color: var(--light) !important;
    border: none;
  }

  .register-btn-customization:active {
    background-color: var(--light) !important;
    transform: scale(.95);
  }

  #quick_access_options {
    position: absolute;
    top: 0;
    left: 2rem;
  }

  #quick_access {
    position: absolute;
    top: 3rem;
    left: 2rem;
    z-index: 80;
    height: 80%;
    width: 12rem;
    border-radius: 5px;
    transform: translateX(-120%);
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .quick_access_reveal {
    transform: translateX(0%) !important;
  }

  app-badge {
    width: 4rem;
    height: 4rem;
  }
