.login-container {
    display: flex;
    align-items: center;
    background-color:white;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .submit-customization {
    background-color: var(--dark) !important;
    border: none !important;
  }

  .submit-customization:active {
    background-color: var(--dark) ;
    transform: scale(.95);
  }
  
  .register-btn-customization {
    background-color: var(--light) !important;
    border: none;
  }

  .register-btn-customization:active {
    background-color: var(--light) !important;
    transform: scale(.95);
  }