<div id="first-step-container">

    <div *ngIf="this.showSpecialists" class="row mt-5">

        <div 
        *ngFor="let specialist of this.specialists"
        (click)="this.onSelectedSpecialist(specialist)"
        class="alert alert-success col-3 me-2 specialist">
            <p style="font-weight: bold; font-size: large;">{{ specialist.name + " " + specialist.last_name }}</p>
            <img [src]="this.getSpecialistProfileImage(specialist.uid)" alt="specialist-image">
        </div>

    </div>

    <div *ngIf="this.showSpecialitiesBySpecialist" class="row mt-5">

        <div 
        *ngFor="let speciality of this.specialitiesBySpecialist"
        (click)="selectSpecialityAndSubmit(speciality)"
        class="alert alert-success col-3 me-2">
            <p style="font-weight: bold;">{{ speciality }}</p>
            <img [src]="this.getSpecialityImageURL(speciality)" alt="speciality-image">
        </div>

    </div>

</div>