<div id="first-step-container">

    <div class="row first-filter-container">
        <div class="col-6 d-flex justify-content-center">
            <div class="btn btn-lg fs-option" (click)="this.revealSpecialists()">Especialistas</div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="btn btn-lg fs-option" (click)="this.revealSpecialities()">Especialidades</div>
        </div>
    </div>

    <div *ngIf="this.showSpecialists" class="row mt-5">

        <div 
        *ngFor="let specialist of this.specialists"
        (click)="this.onSelectedSpecialist(specialist)"
        class="alert alert-success col-3 me-2">
            <p style="font-weight: bold;">{{ specialist.name + " " + specialist.last_name }}</p>
            <div *ngFor="let speciality of specialist.specialities">
                {{speciality}} 
            </div>
        </div>

    </div>

    <div *ngIf="this.showSpecialities" class="row mt-5">

        <div 
        *ngFor="let speciality of this.specialities"
        (click)="this.onSelectedSpeciality(speciality)"
        class="alert alert-success col-3 me-2">
            <p style="font-weight: bold;">{{ speciality }}</p>
        </div>

    </div>

    <div *ngIf="this.showSpecialistsBySpeciality" class="row mt-5">

        <div 
        *ngFor="let specialist of this.specialistsBySpecialities"
        (click)="this.selectSpecialistAndSubmit(specialist)"
        class="alert alert-success col-3 me-2">
            <p style="font-weight: bold;">{{ specialist.name + " " + specialist.last_name }}</p>
        </div>

    </div>

    <div *ngIf="this.showSpecialitiesBySpecialist" class="row mt-5">

        <div 
        *ngFor="let speciality of this.specialitiesBySpecialist"
        (click)="selectSpecialityAndSubmit(speciality)"
        class="alert alert-success col-3 me-2">
            <p style="font-weight: bold;">{{ speciality }}</p>
        </div>

    </div>

</div>