.fs-option {
    background-color: var(--light);
    color: white;
}

.alert:hover {
    cursor: pointer;
}

.alert:active {
    transform: scale(.98);
}

.first-filter-container {
    border: solid 1px var(--dark);
    border-radius: 5px;
    padding: 1rem 0rem;
}