.fs-option {
    background-color: var(--light);
    color: white;
}

.alert:hover {
    cursor: pointer;
}

.alert:active {
    transform: scale(.98);
}

.first-filter-container {
    border: solid 1px var(--dark);
    border-radius: 5px;
    padding: 1rem 0rem;
}

.specialist {
    border-radius: 100%;
    width: 18rem;
    height: 18rem;
}

img {
    border-radius: 100%;
    max-width: 10rem;
}

.speciality-container {
    width: 18rem;
    height: 18rem;
    margin-right: 2rem
}