<div id="form-container">
    <h1>Mis Especialidades</h1>

    <div class="speciality-container">
        <div class="alert speciality-name">
            Endodoncia
        </div>

        <div class="row d-flex justify-content-evenly days">
            <div class="col-4 col-lg-2">
                <div class="alert day-of-week">
                    L
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="alert day-of-week">
                    M
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="alert day-of-week">
                    M
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="alert day-of-week">
                    J
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="alert day-of-week">
                    V
                </div>
            </div>
        </div>

    </div>

</div>