<div *ngIf="!this.displayTimes" class="row mt-5">

    <h2 style="margin-bottom: 2rem;">Seleccione un día</h2>

    <div 
    *ngFor="let possibleDay of this.possibleDays"
    class="alert alert-success col-3 me-2"
    (click)="this.onSelectedDay(possibleDay)">
        <h4 style="font-weight: bold;">{{ this.dates.getInvertedLocaleDateStringByTimestamp(possibleDay.getTime().toString()) }}</h4>
        <div>{{ this.dates.getDayOfTheWeekNameByTimestamp(possibleDay.getTime().toString()) }}</div>
    </div>

</div>

<div *ngIf="this.displayTimes" class="row mt-5">

    <h2 style="margin-bottom: 2rem;">Seleccione un horario</h2>

    <div 
    *ngFor="let possibleTime of this.possibleTimes"
    class="alert alert-success col-3 me-2"
    (click)="this.emmitSelectedDate(possibleTime.timestamp)">
        <h4 style="font-weight: bold;">{{ this.dates.getLocaleTimeStringByTimestamp(possibleTime.timestamp) }}</h4>
    </div>

</div>