

#appointment-cards-container {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

h4 {
    font-weight: bolder;
}

.appointment-card-header {
    margin: 0;
    padding: .2rem;
    max-width: 33%;
    border-radius: 0; 
}

.appointment-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.appointment-option {
    border-radius: 5px;
}