<div class="card-container">
    <p [ngClass]="this.setClassesByStatus(this.appointment.status)" class="alert appointment-card-header">{{this.appointment.getStatusAsString()}}</p>
    <div [ngClass]="this.setClassesByStatus(this.appointment.status)" class="alert">
        <h4>{{ this.patientProfile.name + " " + this.patientProfile.last_name }}</h4>
        <h5>{{ this.appointment.speciality }}</h5>
        
        <ul>
            <li>
                {{ this.dateManager.getDate() + "/" + this.dateManager.getMonth()  + "/" + this.dateManager.getFullYear()  }}
            </li>
            <li>
                {{ this.dateManager.getHours() + ":" + this.dateManager.getMinutes() }}
            </li>
        </ul>

        <div class="appointment-options"> 

            <button 
            *ngIf="(this.userProfile.role == 0 && this.appointment.specialistCommentary != '')"
            class="appointment-option" 
            title="Comentarios">
                <i class="bi bi-chat"></i>
            </button>

            <button
            *ngIf="(this.userProfile.role == 0 && this.appointment.status == 4)" 
            class="appointment-option" 
            title="Calificar">
                <i class="bi bi-star-half"></i>
            </button>

            <button 
            *ngIf="(this.userProfile.role == 0 && this.appointment.status == 4 && this.appointment.specialistCommentary != '')"
            class="appointment-option" 
            title="Encuesta">
                <i class="bi bi-ui-checks"></i>
            </button>

            <button 
            *ngIf="(this.userProfile.role == 0 && ( this.appointment.status == 0 || this.appointment.status == 3 ))" 
            class="appointment-option" 
            title="Cancelar">
                <i class="bi bi-x-lg"></i>
            </button>

        </div>
        
        
    </div>
</div>