h1 {
    margin-bottom: 2rem;
}

h2 {
    margin: 2rem 0rem;
}

#new-field-btn {
    border-radius: .5rem;
    background-color: var(--light);
    color: white;
    font-size: large;
    margin-top: 1rem;
}

#new-field-btn:active {
    transform: scale(.95);
}

#submit-cr-btn {
    border-radius: .5rem;
    background-color: var(--dark);
    color: white;
    font-size: large;
    display: block;
    margin: 3rem 0;
    font-size: x-large;
    padding: .5rem;
}

#submit-cr-btn:active {
    transform: scale(.95);
}

.error-msg {
    color: rgb(238, 93, 93);
}

.feedback-message {
    max-width: 40%; 
    margin: 0 auto; 
    font-size: x-large;
}

table {
    width: 50%;
}

h3{
    margin-bottom: 1rem;
}