<div class="container pt-5">
    <!--<table class="table table-striped">
        <thead>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Contacto
            </th>
            <th>
                Historia Clínica
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let patient of this.myPatients">
                <td>
                    {{ patient.name + " " + patient.last_name }}
                </td>
                <td>
                    {{ patient.age }}
                </td>
                <td>
                    {{ patient.user_email }}
                </td> 
                <td>
                    <i (click)="this.navigateToCr(patient.uid)" class="bi bi-folder2"></i>
                </td>
            </tr>
        </tbody>
    </table>-->

    <div class="row">
        
        <div *ngFor="let patient of this.myPatients" (click)="this.navigateToCr(patient.uid)" class="card col-4 ms-3">
            <div class="card-body">
                <h5 class="card-title">{{ patient.name + " " + patient.last_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Edad: {{ patient.age }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Email: {{ patient.user_email }}</h6>
                <strong>Últimas Atenciones</strong>
                <div style="padding: .5rem; margin-top: .5rem;">
                <div class="card-text" *ngFor="let appointment of this.getLastAppointmentsByPatientId(patient.uid, 3)">
                    {{ 
                        this.dateService.getLocaleDateStringByTimestamp(appointment.timestamp) 
                        + " " 
                        + this.dateService.getLocaleTimeStringByTimestamp(appointment.timestamp)
                        + " - "
                        + appointment.speciality
                    }}
                    </div>
                </div>                  
            </div>
            </div>
        
    </div>

</div>